
<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
    <div class="card-header">
        <h3>@Name</h3>
    </div>
    <img class="card-img-top imageThumbnail" src="Images/chair1.jpg" />
    <div class="card-body text-center">@Description</div>
    <div class="card-body text-center text-capitalize">Price: @Price</div>
    @if (Discount > 0)
    {
        <div class="card-body text-center">Discount: @Discount %</div>
    }
    <div class="card-footer text-center">
        <a href="#" class="btn btn-primary m-1">Add to  cart</a>
    </div>
</div>
@code {
    [Parameter]
    public string Name { get; set; } = "Name";
    [Parameter]
    public string Description { get; set; } = "Description";
    [Parameter]
    public int Price { get; set; } = 0;
    [Parameter]
    public int Discount { get; set; } = 0;
}
