@inherits LayoutComponentBase

<PageTitle>AdminPanel</PageTitle>

<div class="page">
    <div class="sidebar" style="background-image:none;background-color:#212D40;">
        <NavMenu />
    </div>

    <main style="background-image:none;background-color:#97A3B6;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
