
@page "/addItem"
@using Common.DataStructure
@using src


<form enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product name</label>
        <div class="col-sm-5"><input class="form-control" placeholder="Prduct name" @bind="name" type="text"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product description</label>
        <div class="col-sm-5"><input class="form-control" placeholder="Prduct description" @bind="description" type="text"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product discount</label>
        <div class="col-sm-5"><input class="form-control" placeholder="Prduct discount" @bind="discount" type="number"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product price</label>
        <div class="col-sm-5"><input class="form-control" placeholder="Prduct price" @bind="price" type="number"></div>
    </div>

    <div class="form-group row">
        <label slass="form-label form-control form-control-sm">
            <InputFile OnChange="@OnChange" multiple />
        </label>
    </div>
    <div class="col-md-12 text-center">
    <button class="btn btn-primary" @onclick="SubmitItem">Submit</button>
    </div>
</form>


@code {
    string name = "";
    string description = "";
    int discount ;
    int price ;
    Request request = new();
    string uploadMessage = "";
    string imageBase64= "";

    private void SubmitItem()
    {
        request.SaveItem(new Product(name, description, discount, price, imageBase64));
    }


    async Task OnChange(InputFileChangeEventArgs e)
    {
        string format = "image/jpeg";
        long maxSize = 512000000;

        foreach(IBrowserFile file in e.GetMultipleFiles())
        {
            if (string.Equals(file.ContentType, format, StringComparison.OrdinalIgnoreCase))
            {
                IBrowserFile image = await file.RequestImageFileAsync(format,1000,1000);
                byte[]buffer = new byte[image.Size];

                await image.OpenReadStream(maxAllowedSize: maxSize).ReadAsync(buffer);
                imageBase64 = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            }
        }
    }


}
