@page "/signup"
@using Common.DataStructure;
@using Common.Utilitary;
@inject NavigationManager navManager
@inject IJSRuntime js
<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
            <h3>SignUp</h3>
        </div>
        <div class="mb-3">
            <label>User Name</label>
            <input @bind="user.Username" class="form-control" placeholder="Username" />
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input @bind="password" type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="mb-3">
            <label>Repet Password</label>
            <input @bind="passwordRepet" type="password" class="form-control" placeholder="Repet Password" />
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input @bind="user.Email" type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-3">
            <label>Phone number</label>
            <input @bind="user.PhoneNumber" type="number" class="form-control" placeholder="Phone Number" />
        </div>
        <div class="mb-3 d-grid gap-2">
            <button @onclick="SignUp" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>



@code {
    User user = new();
    Request request = new();
    string password = "";
    string passwordRepet = "";


    private async Task SignUp()
    {
        if (password.Equals(passwordRepet)&&password!="")
        {
            user.Password = Hashing.GetHash(password);
            password = "";
            passwordRepet = "";
            await request.SaveItem(user);
            navManager.NavigateTo("/login", true);
        }
        else
        {
            await js.InvokeVoidAsync("alert", "Passwords don't match");
        }

    }
}
