@using Common.DataStructure;
<div class='card card-body m-3' style="background-image:none;background-color:#EEF5F5;">
	<div class="row">
		<div class='col card-text d-flex justify-content-star'><b>@order.Id</b></div>
		<div class='col card-text d-flex justify-content-star'>Date :@order.CreationDate</div>
		<div class='col card-text d-flex justify-content-star'>Order Total:@order.Total</div>
		<div class='col card-text d-flex justify-content-star'>Number of products:@order.Products.Count</div>
		<div class='col card-text d-flex justify-content-star'>Address:@order.Address</div>
	</div>
</div>

@code {
	[Parameter]
	public Order order { get; set; } = new("","","","","",new());
}
